<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kioskprototype">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".POI.PoiSingleRoute"></activity>
        <activity android:name=".POI.PoiAllMapView" />
        <activity android:name=".LoginAndRegister.RegistrationGoogle" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".LoginAndRegister.LoginMemberCard" />
        <activity android:name=".AccountSettings.RequestMemberCard" />
        <activity android:name=".AccountSettings.PastActivities" />
        <activity android:name=".AccountSettings.AccountSettings" />
        <activity android:name=".payment.PayForServices" />
        <activity android:name=".FinalScreen" />
        <activity android:name=".Order.CreditDelayedConfirmation" />
        <activity android:name=".LoginAndRegister.LoginStandardCode" />
        <activity android:name=".LoginAndRegister.LoginOptions" />

        <service
            android:name=".LoginAndRegister.GooglePollService.SyncService"
            android:enabled="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/client_token" />

        <activity android:name=".LoginAndRegister.RegisterFacebook" />
        <activity android:name=".payment.PaymentSelect" />
        <activity android:name=".InstructionVideo" />
        <activity android:name=".LoginAndRegister.MailVerification" />
        <activity android:name=".LoginAndRegister.RegisterStandard" />
        <activity android:name=".LoginAndRegister.RegisterOptions" />
        <activity android:name=".LoginAndRegister.MemberOrNot" />
        <activity android:name=".Order.OrderConfirmation" />
        <activity android:name=".BikeSelect" />
        <activity android:name=".POI.PoiSingleItem" />
        <activity android:name=".POI.PoiArrayView" />
        <activity android:name=".POI.PoiSelectType" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>